<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<meta name="author" content="OzCodex">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, 
                     initial-scale=1.0,
                     maximum-scale=1.0,
                     user-scalable=no">
<title>Oz Codex</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
<h1><a title="Regresar al indice" href="index.html">Oz Codex</a></h1>
<h2>El códice de mis pensamientos e ideas.</h2>
</header>
